name: CPP Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Apt update
        run: sudo apt update
        
      - name: Install prerequisites
        run: |
          sudo apt install cmake g++ libeigen3-dev fakeroot
          
      - name: Build & install DQRobotics
        run: |
          cd cpp
          chmod +x debian/rules
          fakeroot debian/rules clean
          fakeroot debian/rules build
          fakeroot debian/rules binary
          cd ..
          sudo apt install ./*.deb
          
      - name: Build & install cpp-interface-vrep
        run: |
          chmod +x debian/rules
          fakeroot debian/rules clean
          fakeroot debian/rules build
          fakeroot debian/rules binary
          cd ..
          sudo apt install ./*.deb
